<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Levely</title>
  </head>
  <body>
      {{ content_for_header }}
      {{ content_for_layout }}
      {{ content_for_footer }}
  </body>
</html>
